.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.xml
*.html
*.xls
*.xlsx
*.html
*.docx
*.pdf
*.png
Reports/*.pdf
Reports/*.csv
Reports/Data_Warehouse/*.csv
Reports/ohla_hotels_files
threeyearsdata/
data_to_Clarity/
data/
images/
fy2020/
sampledata/
youngstowndata/
YO_SPM_data
COVID-19-Client-Data-Analysis_files/
20200721_data
Reports/HMIS_Admin/*.csv
/*csv
random_data/
7z.dll
7z.exe
